.container {
    padding: 20px;
    font-family: 'Georgia', serif;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .filters {
    display: flex;
    gap: 20px;
    margin: 20px 0;
  }
  
  .cardGrid {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }
  
  .card {
    width: 235px;
    cursor: pointer;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .cardImage {
    width: 100%;
    height: 125px;
    object-fit: contain; 
    border-radius: 4px;
  }
  
  .cardTitle {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 1rem;
  }

  .modalContent {
    background-color: #fff;
    border-radius: 12px;
    padding: 2rem;
    max-width: 700px;
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
  }
  
.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
}

.modalGallery {
  margin-top: 1.2rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.galleryImage {
  width: 100%;
  max-width: 300px;
  border-radius: 6px;
  object-fit: cover;
}
  
  .modalText {
    font-size: 16px;
    line-height: 1.5;
  }
  
  
  .moreButton {
    margin-top: 0.5rem;
    padding: 0.4rem 0.8rem;
    background-color: #8aacff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s ease;
  }

  .moreButton:hover {
    background-color: #6b92f6;
  }

  .linkButton {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #3f51b5;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    transition: background-color 0.3s;
  }
  
  .linkButton:hover {
    background-color: #303f9f;
  }
  

  .content_info {
    width: 100%;
    max-width: 694px;
    margin: 0 auto;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 167%;
}

.content_text {
    margin-bottom: 50px;
    display: block;
}

.content_text_bg {
  background: #8aacff;
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 24px;
  line-height: 1.5em;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}
